.form__div__account{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #F6CFCA; */
    /* border-radius: 20px; */
    /* margin-top: 88px; */
}
.form__div__account.col{
    padding-left: 0%;
    padding-right: 0%;
}

.settingsPicture.card {
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    /* flex-direction: unset; */
    /* margin-left: 0; */
    width: -moz-fit-content;
    /* width: fit-content; */
    margin-left: auto;
    margin-right: auto;
}

.image-upload__preview {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(233, 90, 149, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 1rem; */
}

button.disketteBouton {
    border: none;
    color: none;
    /* color: #0000ff03; */
    background-color: #ffffff2e;
}

button.supp {
    border: none;
    color: none;
    /* color: #0000ff03; */
    background-color: #ffffff2e;
}
span.material-icons.MuiIcon-root.supp {
color: #3b7dc3;
    font-size: 30px;
    width: 50px;
    height: 35px;
    vertical-align: middle;
}
span.material-icons.MuiIcon-root.supp:hover {
    color: rgb(250, 109, 102);
}
span.material-icons.MuiIcon-root.savedisket {
    color: #3b7dc3;
    font-size: 30px;
    width: 40px;
    height: 43px;
    margin-top: -60px;
}

span.material-icons.MuiIcon-root.savedisket:hover {
    color: rgb(250, 109, 102);
}

.button__update {
display: block; 
border-radius: 5px;
margin: 0 auto;
    color: #3b7dc3;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
    /* background-color: pink; */
    border-color: pink;
    margin-top: 40px;
     border: 2px solid #ff149352;
         margin-bottom: 30px;

}

.button__update:hover{
display: block; 
border-radius: 5px;
margin: 0 auto;
    color: #3b7dc3;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
    background-color: pink;
    border-color: pink;
    margin-top: 40px;
     border: 2px solid #ff149352;
         margin-bottom: 30px;

}


.image-upload__preview {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(233, 90, 149, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 1rem; */
    border-radius: 10% 30% 50% 70%!important;

}
.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 10% 30% 50% 70%!important;

}

img {
    width: 50%;
    /* height: 100px; */
    vertical-align: middle;
    border-style: none;
}

.button__pick__image {
    /* display: block; */
    /* vertical-align: middle; */
    /* margin: 0 auto; */
    border-radius: 5px;
    color: #3b7dc3;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
    /* background-color: pink; */
    /* border-color: pink; */
    /* margin-top: 15px; */
    border: 2px solid #ff149352;
}

p {
    /* text-align: justify; */
    margin: 0 auto;
}

.modal-header {
    /* display: flex;
    align-items: flex-start; */
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

span.material-icons.MuiIcon-root.change-image{
    color: #3b7dc3;
    font-size: 30px;
    width: 40px;
    height: 43px;
    margin-top: -60px;
}

span.material-icons.MuiIcon-root.change-image:hover {
    color: rgb(250, 109, 102);
}

button.penBouton {
    border: none;
    color: none;
    /* color: #0000ff03; */
    background-color: #ffffff2e;
}

.settingsInterest.card {
    margin-left: 0;
    /* margin-top: -720px; */
    height: 533px;
}

.settingsProfil.card {
    margin-left: 0;
    /* margin-top: -720px; */
    height: 100%;
}

.row{
    margin-left: 0;
    margin-right: 0;

}

label {
    color: #3b7dc3bf;
    text-align: left;
    font-weight: 100;
    margin-bottom: 0;
}

img.update-photo {
    margin-top: 30px;
}

.form__div__account{
    text-align: left;
}

ul {
    margin-top: 30px;
    list-style: none;
}

.button__pick__image {
    /* display: block; */
    /* vertical-align: middle; */
    /* margin: 0 auto; */
    border-radius: 5px;
    color: #3b7dc3;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
    /* background-color: pink; */
    /* border-color: pink; */
    /* margin-top: 15px; */
    border: 2px solid #ff149352;
}
