.form__div__account{
    /* width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #F6CFCA;
    border-radius: 20px;
    margin-top: 88px; */
}

.settingsPicture.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    /* flex-direction: unset; */
    /* margin-left: 0; */
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 40px;
}

.image-upload__preview {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(233, 90, 149, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 1rem; */
}

button.disketteBouton {
    border: none;
    color: none;
    /* color: #0000ff03; */
    background-color: #ffffff2e;
}

span.material-icons.MuiIcon-root.savedisket {
    color: #3b7dc3;
    font-size: 30px;
    width: 40px;
    height: 43px;
    margin-top: -60px;
}

span.material-icons.MuiIcon-root.savedisket:hover {
    color: rgb(250, 109, 102);
}

.button__pick__image {
/* display: block; */
    /* margin: 0 auto; */
    /* border-radius: 5px; */
    /* color: #3b7dc3; */
    /* letter-spacing: 2px; */
    /* font-size: 17px; */
    /* font-weight: bold; */
    /* background-color: pink; */
    /* border-color: pink; */
    /* margin-top: 15px; */
    /* border: 2px solid #ff149352; */
}

.image-upload__preview {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(233, 90, 149, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 1rem; */
    border-radius: 10% 30% 50% 70%!important;

}
.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 10% 30% 50% 70%!important;

}

img {
    width: 50%;
    /* height: 100px; */
    vertical-align: middle;
    border-style: none;
}

.button__pick__image {
    /* display: block; */
    /* vertical-align: middle; */
    /* margin: 0 auto; */
    border-radius: 5px;
    color: #3b7dc3;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
    /* background-color: pink; */
    /* border-color: pink; */
    /* margin-top: 15px; */
    border: 2px solid #ff149352;
}

p {
    /* text-align: justify; */
    margin: 0 auto;
}

.modal-header {
    /* display: flex;
    align-items: flex-start; */
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

span.material-icons.MuiIcon-root.change-image{
    color: #3b7dc3;
    font-size: 30px;
    width: 40px;
    height: 43px;
    margin-top: -60px;
}

span.material-icons.MuiIcon-root.change-image:hover {
    color: rgb(250, 109, 102);
}

button.penBouton {
    border: none;
    color: none;
    /* color: #0000ff03; */
    background-color: #ffffff2e;
}

.settingsInterest.card {
    margin-left: 400px;
    margin-top: -720px;
}

.settingsProfil.card {
    margin-left: 400px;
    /* margin-top: -720px; */
}