.like_dislike{
  position: relative;
  width: 60px;
  background: #F6CFCA;
  border: none;
  margin: 0 auto;
}
.like_dislike:hover{
  background: #F6CFCA;
}

.modal__style{
  background: #F6CFCA;
  text-align: center;
}

.modal__footer{
  text-align: center;
}

.image__profile{
  width: 500px;
  height: 480px;
  margin: 0 auto;
  display: block;
  position: relative;
}
.map-container {
  height: 15rem;
  width: 100%;
}