.title {
letter-spacing: 1px;
    text-align: center;
    font-size: 18px;
    margin: 0px auto;
    margin-left: 30px;
    margin-right: 30px;
    color: gray;
}

h6, .h6{
    text-align: center;
        margin: 40px auto;
    color: #ff69b4;
}

form{
    text-align: center;
}

.card-2 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 390px;
}

a.return{
    text-align: center;
    color: grey;
    margin-bottom: 25px;
    margin-top: 40px;
}
a.return:hover {
    color: #f099c0;
    text-decoration: underline;
}

.button__send__mail{
  display: block;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  color: #2b2e3082;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: pink;
  border-color: pink;
  border: 2px solid rgb(233, 90, 149);


}

.InputForm__reset {
    margin-top: 40px;
}