.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
    flex: 0.5 1;
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-size: 32px;
    color: #6c91b1;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
  width: 15px;
  height: 15px;
}

.closeIcon{
  margin-right: 5%;
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
