footer {
  position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container p {

    font-weight: 700;
    text-align: center;
    color: grey;
    background-color: #ffc0cb87;
    letter-spacing: 4px;

}