.card__style{
    background-image: url("./WelcomeImg/matchWelcome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    height: 80rem;
}

.login__position{
position: absolute;
bottom: 3rem;
width: 100%;

}

.card__container{
    background-color: rgba(255,192,203,0.7);
    border-radius: 50%;
    width: 700px;
    height: 700px;
    border: 1px solid;
    text-align: center;
}


.title__text{
    font-family: Brush Script MT, Brush Script Std, cursive ;
    margin-left: 130px;
    color: pink;
    text-align: left;
    font-size: 10em;

}

  .inscritpion__text{
    font-family: Brush Script MT, Brush Script Std, cursive ;
    font-size: 4em;
    color: purple;
    margin-top: 1.3em;
  }
  .inscritpion__text2{
    font-family: Brush Script MT, Brush Script Std, cursive ;
    font-size: 4em;
    color: purple;
  }

  .form__div{
    width: 500px;
    margin: 0 auto;
  }