
/* BUTTON */
.button__logIn__signUp{
  display: block;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
  color: black;
  background-color: pink;
  border-color: pink;
  border: 5px solid rgb(233, 90, 149);


}
.button__logIn__signUp:hover {
  background-color: rgb(233, 90, 149);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button__logIn__signUp__switch{
  display: block;
  width: 60%;
  height: 50px;
  margin: 0 auto;
  color: black;
  background-color: pink;
  border-color: pink;
  border: 5px solid rgb(233, 90, 149);
}
.button__logIn__signUp__switch:hover{
  background-color: rgb(233, 90, 149);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.containerBack {
  position: absolute;
  top: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.button__logIn {
  display: block;
  width: 20em;
  height: 5em;
  margin: 0 auto;
  margin-top: 25em;
  border-radius: 50px;
  color: black;
  background-color: pink;
  border-color: pink;
  border: 5px solid rgb(233, 90, 149);
}
.button__logIn:hover {
  background-color: rgb(233, 90, 149);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-align: center;
  color: grey;
      margin-bottom: 25px;
}

.containerBack.container-fluid{
  text-align: center;
  width: 100%;
}

.input-password {
    margin-bottom: 70px;
}

.col{
      max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.card{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.1);
    width: 450px;
    margin: 20px auto;

}

img {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 30px;
}